// colors
$cream: #FFFEF2;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


.body {
  font-family: "Arial";
  font-size: 25px;

  background-image: url('forget-me-not.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
}

h1, h2, h3, title {
  font-family: "Sriracha";
}
