// colors
$cream: #FFFEF2;
$light-brown: #987654;
$green: #00ac00;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


.body {
  font-family: "Arial";
  font-size: 25px;

  background-image: url('forget-me-not.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
}

li {
  font-size: 20px;
}

.textbox {
  margin: 30px;
  background-color: $cream;
  border: 1px solid black;
  opacity: 0.6;
}

h1, h2, h3, title {
  font-family: "Sriracha";
}

.brown-background, li {
  background: $light-brown;
}

.green-text, a {
  color: $green;
}
